@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&family=Poppins:wght@300;400;500;600&family=Rubik+Doodle+Shadow&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}
/* top-bar */
.zero {
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(classroom\ images/background4.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.zero .content h1 {
  font-size: 70px;
  color: #fff;
  font-weight: 600;
  font-family: "poppins";
}
.zero .content p {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  font-family: "poppins";
}
@media screen and (max-width: 770px) {
  .zero {
    height: 50vh;
  }
  .zero .content h1 {
    font-size: 40px;
  }
  .zero .content p {
    font-size: 20px;
  }
}
/* sid-nav */
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  z-index: 1;
  font-family: "poppins", sans-serif;
  justify-content: space-between;
  box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.7);
}
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 24px;
}
.logo .menu-icon {
  color: #000000;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .home-icon {
  color: #000000;
  font-size: 24px;
  margin-right: 14px;
  cursor: pointer;
}
.logo .logo-name {
  color: #000000;
  font-size: 22px;
  font-weight: 500;
}
nav .sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 260px;
  padding: 20px 0;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease;
}
nav.open .sidebar {
  left: 0;
}
.sidebar .sidebar-content {
  padding: 30px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.sidebar-content .list {
  list-style: none;
}
.list .nav-link {
  display: flex;
  align-items: center;
  padding: 14px 12px;
  text-decoration: none;
  border-radius: 8px;
}
.nav-link:hover {
  background: #4070f4;
}
.nav-link .icon,
.bottom-content .icon {
  margin-right: 14px;
  font-size: 20px;
  color: #000000;
}
.nav-link .link,
.bottom-content .link {
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}
.nav-link:hover .icon,
.nav-link:hover .link {
  color: #fff;
}
.bottom-content {
  padding: 70% 0;
}
.overlay {
  position: fixed;
  top: 0;
  left: -100%;
  height: 1000vh;
  width: 200%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
  background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
  opacity: 1;
  left: 260px;
  pointer-events: auto;
}
@media screen and (max-width: 770px) {
  nav {
    height: 40px;
  }
  .logo .menu-icon {
    font-size: 25px;
    margin-right: 14px;
    cursor: pointer;
  }
  .logo .home-icon {
    font-size: 25px;
    margin-right: 14px;
    cursor: pointer;
  }
  .logo .logo-name {
    font-size: 15px;
    font-weight: 500;
  }
  .bottom-content {
    padding: 20% 0;
    margin-top: 45%;
  }
}
/* Quote section */
.class-quote {
  width: 100%;
  min-height: 80vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote {
  width: 90%;
  max-width: 800px;
  margin: auto;
}
.quote-text {
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
  color: #fff;
  width: 100%;
  height: 430px;
  position: relative;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
}
.user-quote {
  width: 80%;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.user-quote .fas {
  font-size: 45px;
  margin-bottom: 30px;
  margin-top: 20px;
}
@media screen and (max-width: 770px) {
  .user-quote {
    line-height: 18px;
  }
  .quote-text {
    margin-top: 20px;
    height: 700px;
  }
}
/* class-rooms */
.Class-rooms {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}
.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.rools-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.rools-col p {
  padding: 0;
}
.rools-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}
.rools-col img {
  width: 100%;
  border-radius: 10px;
}
@media screen and (max-width: 770px) {
  .row {
    display: block;
  }
}
/* footer */
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  background: #fff;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 1);
  border-radius: 15px;
}
.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}
.icons .fa {
  font-size: 25px;
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}
.sa {
  color: #f44336;
  font-size: 20px;
}
